@model Jogador

@{
    ViewData["Title"] = "Editar";
}

<link rel="stylesheet" href="~/css/jogador.css">


<!-- MAIN -->
<main>

    <section class="container-grid cadastro-equipes">


        @if (ViewBag.UserName == null)
        {
            <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="Index">Login</a>
        }

        else
        {

            <form method="post" class="frm-cad-equipe" action="@Url.Action("Atualizar")">
                <div class="cadequipe-titulo">
                    <h1>Edição de Jogadores</h1>
                    <hr>
                </div>

                

                <input type="hidden" name="IdJogador" value="@ViewBag.Jogador.IdJogador">

                <input class="campo-entrada" value="@ViewBag.Jogador.Nome" type="text" id="nome-jogador" placeholder="Digite o nome do Jogador:" name="Nome">

                <input class="campo-entrada" value="@ViewBag.Jogador.Email" type="email" id="email-jogador" placeholder="Digite o Email do Jogador:" name="Email">

                <input class="campo-entrada" type="password" id="senha" placeholder="Digite a Senha:" name="Senha">

                <select class="campo-entrada" id="equipe-select" name="IdEquipe">
                    <option value="0">Selecione uma opção</option>
                    @foreach (Equipe equipe in ViewBag.Equipe)
                    {
                        if (equipe.IdEquipe == @ViewBag.Jogador.IdEquipe)
                        {
                            <option value="@equipe.IdEquipe" selected>@equipe.Nome</option>
                        }

                        else
                        {
                            <option value="@equipe.IdEquipe">@equipe.Nome</option>
                        }
                    }
                </select>

                <button>Atualizar</button>
                
            </form>


        }
    </section>
</main>

