@model Jogador

@{
    ViewData["title"] = "Jogador";
}

<link rel="stylesheet" href="~/css/jogador.css">


<!-- MAIN -->
    <main>

        <section class="container-grid cadastro-equipes">
            
            
            <form method="post" class="frm-cad-equipe" action="@Url.Action("Cadastrar")">
                <div class="cadequipe-titulo">
                    <h1>Cadastro de Jogadores</h1>
                    <hr>
                </div>

                
                <select class="campo-entrada" id="equipe-select" name="Equipe">
                   <option value="0">Selecione uma opção</option>
            @foreach (var item in ViewBag.Equipe)
            {
                <option value="@item.IdEquipe">@item.Nome</option>
            }
                </select>
                
                <input class="campo-entrada" type="text" id="nome-jogador" placeholder="Digite o nome do Jogador:" name="Nome">
                <input class="campo-entrada" type="email" id="email-jogador" placeholder="Digite o Email do Jogador:" name="Email">
                <input class="campo-entrada" type="password" id="senha" placeholder="Digite a Senha:" name="Senha">
                <button>Cadastrar</button>
                
                
                
                
            </form>

            <!-- TABELA CADASTRO DE JOGADOR -->

            <table class="table table-striped table-responsive">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nome</th>
                        <th>Email</th>
                        <th>Equipe</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Jogador jog in ViewBag.Jogador)
            {
                    <tr>
                        <td>@jog.IdJogador</td>
                        <td>@jog.Nome</td>
                        <td>@jog.Email</td>
                        <td>
                             <img src="/img/Equipes/@jog.Equipe.Imagem" alt="Imagem da equipe do jogador" width="50px">
                        </td>

                        <td class="alinha-edit-delete">
                            <a style="text-decoration: none;" asp-area="" asp-controller="Jogador" asp-action="Excluir"
                            asp-route-id="@jog.IdEquipe">
                            <img class="yellow-trash" src="~/assets/trash.png" alt="">
                            </a>

                            <a style="text-decoration: none;" asp-area="" asp-controller="Jogador" asp-action="Editar"
                            asp-route-id="@jog.IdEquipe"><img src="~/assets/Vectoredit.svg" alt=""></a>
                        </td>
                    </tr>
            }
                </tbody>
            </table>
        </section>
    </main>
















    @* <form method="post" class="frm-cad-equipe" action="@Url.Action("Cadastrar")">

        <div class="cadequipe-titulo">
            <h1>Cadastro de Jogadores</h1>
            <hr>
        </div>

        <label for="">Nome</label>
        <input type="text" name="Nome" required>

        <label for="">Email</label>
        <input type="email" name="Email" required>

        <label for="">Senha</label>
        <input type="password" name="Senha" required>

        <label for="">Equipe</label>
        <select name="Equipe" id="" required>
            <option value="0">Selecione uma opção</option>
            @foreach (var item in ViewBag.Equipe)
            {
                <option value="@item.IdEquipe">@item.Nome</option>
            }
        </select>

        <button type="submit">Cadastrar</button>
    </form>


    <table class="table table-striped table-responsive">

        <thead>
            <th>Id</th>
            <th>Nome</th>
            <th>Email</th>
            <th>Equipe</th>
            <th>Ações</th>
        </thead>

        <tbody>

            @foreach (Jogador jog in ViewBag.Jogador)
            {
                <tr>
                    <td>@jog.IdJogador</td>
                    <td>@jog.Nome</td>
                    <td>@jog.Email</td>
                    <td>
                        <img src="/img/Equipes/@jog.Equipe.Imagem" alt="Imagem da equipe do jogador" width="50px"> 


                    </td>
                    <td>
                        <a style="text-decoration: none;" asp-area="" asp-controller="Jogador" asp-action="Excluir"
                            asp-route-id="@jog.IdEquipe">Excluir</a>
                    </td>
                    <td><a style="text-decoration: none;" asp-area="" asp-controller="Jogador" asp-action="Editar"
                            asp-route-id="@jog.IdEquipe">Editar</a>
                    </td>
                </tr>
            }

        </tbody>


    </table> *@







